* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #040305;
  display: grid;
  place-items: center;
}

#main {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#video1 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

#video2 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.container {
  position: relative;
  top: 70%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 15vw;
  height: 10vh;
  z-index: 99;
}

#dragme,
.dragme-child {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.dragme-child {
  border: 4px dashed white;
  animation: rotate infinite linear 10s;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.circle-p {
  position: absolute;
  right: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 3px dashed white;
  animation: n-rotate infinite linear 10s;
}

@keyframes n-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
